<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MovieReddy</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body id="back-image">
    <div class="wrapper">
        {{!-- header  --}}
        <header>
            <h1 class="headerCSS">
                <div>
                    <a href="/">MovieReddy</a>
                </div>
                <div>
                    <a href="./login.credentials.html">Login</a>
                </div>
            </h1>
        </header>

        <main>
            <div id="websiteTitleCSS">
                <h1>MovieReddy</h1>
                <p>Welcome to #MovieReddy, an open source platform designed for users, by users. Login, post, comment or even leave a movie rating. With #MovieReddy,
                    you can do just that, without the adds and cinemas telling you what to see
                </p>
            </div>
            {{!-- search your genre drop down box --}}
            <div id="websiteLinksCSS">
                <p>Search your Movie Genre here!</p>
                <form>
                    <select name="Genre" id="movie-genre">
                        <option value="Action">Action</option>
                        <option value="Drama">Drama</option>
                        <option value="Horror">Horror</option>
                        <option value="Raunchy Comedy">Raunchy Comedy</option>
                        <option value="Comedy">Comedy</option>
                        <option value="Romance">Romance</option>
                        <option value="Sci-Fi">Sci-Fi</option>
                        <option value="Thriller">Thriller</option>
                        <option value="Western">Western</option>
                    </select>
                </form>
            <div>
            <div>
                {{{body}}}
            </div>
        </main>
        <footer>
            Thanks for visiting our test site!
        </footer>
    </div>
<script src="/MovieReddy/controllers/api/moviedbApiFetch-routes.js"></script>
</body>

</html>
<!--Marcos' index.html to call the moviedb api
  <div class="field">
    <input type="text" id="movie-input" placeholder="Search For Movie">
    <button type="button" id="movie-button">Search</button>
  </div>

    <h1>This will display Moviedb Images</h1>
    <div id="moviedb-image"></div>
    <div id="movie-detail"></div>
    <script src="assets/practice.js"></script>
  </body>