<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MovieReddy</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body id="back-image">
    <div class="wrapper">
        <header class="headerCSS">
            <h1>
                <a href="/">MovieReddy</a>
                <p>Search your Movie Genre here!</p>
                <form>
                    <select name="Genre" id="movie-genre">
                        <option value="Action">Action</option>
                        <option value="Drama">Drama</option>
                        <option value="Horror"></option>
                        <option value="Raunchy Comedy"></option>
                        <option value="Comedy"></option>
                        <option value="Romance"></option>
                        <option value="Sci-Fi"></option>
                        <option value="Thriller"></option>
                        <option value="Western"></option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                        <option value=""></option>
                    </select>
                </form>
                <a href="">Account Settings</a>
            </h1>
            
        </header>
        <main>
            {{{body}}}
            <p>This is our page!</p>
        </main>
        <footer>
            Thanks for visiting our test site!
        </footer>
    </div>

</body>

</html>