<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MovieReddy</title>
    <link rel="stylesheet" href="../../public/stylesheets/style.css" />
</head>

<body>
    <div class="wrapper">
        <header>
            <h1>
                <a href="/">MovieReddy</a>
            </h1>
        </header>
        <main>
            {{{body}}}
            <p>This is our page!</p>
        </main>
        <footer>
            Thanks for visiting our test site!
        </footer>
    </div>

</body>

</html>