<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
{{#if posts.length}}
<section>
  
  <ol class="fullclick">
    {{#each posts as |post|}}
    <li>
      {{> home-post post}}

<div class="container" id="infoModal">
                    <div id="buttonCSS">
                        <h3 style="font-size: medium;">sample text</h3> /
                        <!-- Modal Trigger -->
                        <a class="waves-effect waves-light btn red darken-1 modal-trigger" href="#demo-modal" id="moreInfo">More info!</a>
                    </div>
                    <!-- Modal Structure -->
                    <div id="demo-modal" class="modal">
                        <div class="modal-content">
                            <h4 id="title"> 
                            </h4>
                            <h3 id="releasedate"></h3> 
                            <div id="background"></div> 
                            <p id="overview"></p> 
                        </div>
                        <div class="modal-footer">
                            <a href="#!"
                                class="modal-action modal-close waves-effect waves-red btn red lighten-1" id="close">Close</a>
                        </div>
                    </div>
                </div>
      <!--<a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>-->
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}
<script src="/javascript/movieModalApi.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
        integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>