{{#if posts.length}}
<section>
  
  <ol class="fullclick">
    {{#each posts as |post|}}
    <li>
      {{> home-post post}}
      <button>More Information</button>
      <!--<a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>-->
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}
