<div id="websiteTitleCSS">
    {{#if loggedOut}}
    <h1>MovieReddy</h1>
    <p>Welcome to #MovieReddy, an open source platform designed for users, by users. Login, post, comment or even leave a movie rating. With #MovieReddy,
        you can do just that, without the adds and cinemas telling you what to see
    </p>
</div>
{{/if}}